footer(data-bs-theme='dark').navbar.navbar-expand.bg-dark.mt-auto
  div.container-fluid
    ul.navbar-nav.d-flex.align-items-center
      li.navbar-text Designed by
      a.nav-link(
        target='_blank' 
        href='https://www.seanericthomas.com'
      ) Sean Eric Thomas
      a.nav-link(
        target='_blank' 
        title='View this project on GitHub'
        href='https://github.com/MongrelArchitect/members-only'
      )
        img(alt='GitHub logo' src='/images/github.svg')
