extends layout

block content
  h1.text-center.p-2 Join Club
  div.container-fluid.shadow.bg-white.rounded-3.p-2
    form(action='' method='POST')
      div.m-1
        div.form-floating
          input#password(
            aria-describedby='passwordError'
            class= errors ? errors.password ? 'is-invalid' : 'is-valid' : null
            minlength='1'
            name='password'
            placeholder='Required'
            required
            type='password'
          ).form-control
          label.form-label(for='password') Password
      button#togglePassword(
        type='button'
      ).btn.d-flex.align-items-center.gap-2.mt-1.btn-light
        img#toggleImage(height='22px' src='/images/eye.svg') 
        span#toggleText Show password
      div#passwordError(
        aria-live='polite'
        class='text-danger m-1'
      )= errors && errors.password ? errors.password.msg : ''
      div.m-1
        button#submit.btn.btn-secondary(type='submit') Submit
  script(src='/javascripts/validateJoin.js')
