extends layout

block content
  h1.text-center.p-2 Login
  div.container-fluid.shadow.bg-white.rounded-3.p-2
    form(action='' method='POST')
      div.m-1
        div.form-floating
          input.form-control#email(
            aria-describedby='emailError'
            class= errors ? errors.email ? 'is-invalid' : 'is-valid' : null
            name='email'
            placeholder='Required'
            required
            type='email'
            value= email
          )
          label.form-label(for='email') Email
        div#emailError(
          aria-live='polite'
          class='text-danger m-1'
        )= errors && errors.email ? errors.email.msg : ''
      div.m-1
        div.form-floating
          input.form-control#password(
            aria-describedby='passwordError'
            class= errors ? errors.password ? 'is-invalid' : 'is-valid' : null
            name='password'
            placeholder='Required'
            required
            type='password'
            value= password
          )
          label.form-label(for='password') Password 
        button#togglePassword(
          type='button'
        ).btn.d-flex.align-items-center.gap-2.mt-1.btn-light
          img#toggleImage(height='22px' src='/images/eye.svg') 
          span#toggleText Show password
        div#passwordError(
          aria-live='polite'
          class='text-danger m-1'
        )= errors && errors.password ? errors.password.msg : ''
      div.m-1
        div#authError(
          class='text-danger m-1'
        )= errors && errors.auth ? errors.auth.msg : ''
        button#submit.btn.btn-secondary(type='submit') Submit
  script(src='/javascripts/validateLogin.js')
