div.container-fluid.shadow.bg-white.rounded-3
  if user
    fieldset.m-1
      legend New Message
      form(action='' method='POST')
        div.m-1
          div.form-floating
            input.form-control#title(
              aria-describedby='titleError'
              class= errors ? errors.title ? 'is-invalid' : 'is-valid' : ''
              maxlength='50' 
              minlength='1'
              name='title'
              placeholder='Required'
              required
              type='text' 
              value= newMessage ? newMessage.title : ''
            )
            label.form-label(for='title') Title
          div#titleError(
            aria-live='polite'
            class='text-danger'
          )= errors && errors.title ? errors.title.msg : ''
        div.m-1
          div.form-floating
            textarea.form-control#text(
              class= errors ? errors.text ? 'is-invalid' : 'is-valid' : ''
              maxlength='500' 
              minlength='1'
              name='text'
              placeholder='Required'
              required
              style='height: 12rem'
            )= newMessage ? newMessage.text : ''
            label.form-label(for='text') Message
          div#textError(
            aria-live='polite'
            class='text-danger'
          )= errors && errors.text ? errors.text.msg : ''
          div.text-end.font-monospace.m-1(aria-live='polite')
            span#charCount 000
            |
            span  / 500 characters
        div.m-1
          button#submit.btn.btn-secondary(
            disabled 
            type='submit'
          ) Submit
    script(src='/javascripts/validateMessage.js')
  else
    div.m-1.p-3
      div.h4 New Message
      a(href='/login').btn.btn-primary  Log in
      |
      | or
      |
      |
      a(href='/signup').btn.btn-primary Sign up
